<div style="text-align: center">Klausur</div>
<div class="container-fluid" style="text-align: center">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-2">Teil I Schreiben</div>
    <div class="col-6">Teil II Kompetenz</div>
  </div>
  <div class="row">
    <div class="col-4">
      Inhalt 40%
    </div>
    <div class="col-2"></div>
    <div class="col-2">Mediation 20%</div>
    <div class="col-2">Reading 40%</div>
    <div class="col-2">Literacy 40%</div>
  </div>
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-2">
      Leseverstehen/Reproduktion <input type="number" />
      Textanalyse <input type="number" />
      Analyse diskontinuierlicher Texte <input type="number" />
      Diskutieren/Kommentieren <input type="number" />
      gestaltendes Schreiben <input type="number" />
      Summe 100%
    </div>
    <div class="col-2">
      -
    </div>
    <div class="col-2">
      -
    </div>
    <div class="col-2">
      -
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Sprachverwendung 60%
    </div>
    <div class="col-2">
      Choose 2 from 5
    </div>
    <div class="col-2">Teil II Kompetenz</div>
    <div class="col-2">Teil II Kompetenz</div>
    <div class="col-2">Teil II Kompetenz</div>
  </div>
</div>