<div class="container-fluid">
  <div class="row d-print-none pr-5">
    <div class="col"></div>
    <div class="col-4 mt-2">
      <div class="row mx-0">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="isPrintViewSwitch" [(ngModel)]="isPrintView" />
            <label class="custom-control-label" for="isPrintViewSwitch">Druckansicht</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid px-5" *ngIf="isPrintView">
  <h1>Gutachten für {{student}}</h1>
  <h2>{{examType}} {{year}}, {{course}}</h2>
  <table>
    <col />
    <col style="width: 10px" />
    <col />
    <tr>
      <td class="text-right">Kursleitung:</td>
      <td></td>
      <td>{{teacher}}</td>
    </tr>
    <tr>
      <td class="text-right">Schule:</td>
      <td></td>
      <td>{{school}}</td>
    </tr>
  </table>
  <ng-container *ngFor="let mode of getModes()">
    <h3 class="mt-5">{{mode.name}}</h3>
    <ng-container *ngFor="let part of master.parts">
      <table class="table my-5">
        <thead>
          <th style="width: 300px">
            {{part.name}} ({{part.weighting}}%)
          </th>
          <th>
            Bewertung
          </th>
          <th style="width: 100px">
            Punkte
          </th>
        </thead>
        <ng-container *ngFor="let area of part.areas">
          <tr *ngFor="let skillWeighting of getIncludedAreaSkillWeightings(area.id, mode.id)">
            <td>
              {{getSkill(skillWeighting.skillId).name}}
              <span *ngIf="!areSkillWeightingsFixed(part.id)"> ({{skillWeighting.weighting | number: "1.0-2"}}
                BE)</span>
            </td>
            <td>
              <div *ngFor="let criteria of getCheckCriteriaForSkill(skillWeighting.skillId, mode.id)">
                {{criteria}}
              </div>
            </td>
            <td>
              {{getFormattedPointsForSkill(skillWeighting.skillId, mode.id)}}
            </td>
          </tr>
        </ng-container>
        <tr>
          <td>
            Kommentar
          </td>
          <td colspan="2">
            <div *ngFor="let area of part.areas">{{getComment(area.id, mode.id)}}</div>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            Ergebnis
          </th>
          <th>
            {{getFormattedPointsForPart(part.id, mode.id)}} Punkte
          </th>
        </tr>
      </table>
      <div class="py-1"></div>
    </ng-container>
  </ng-container>
  <ng-container *ngFor="let mode of getModes()">
    <h3 class="mt-5">{{mode.name}} - {{getFormattedPointsForMode(mode.id)}} Punkte</h3>
  </ng-container>
  <h1 class="mb-5">Gesamtpunkte - {{getFormattedTotalPoints()}}</h1>
  <div class="py-5"></div>
  <div>{{city}}, den {{date}} ____________________________________________________________________ ({{teacher}})</div>
</div>
<div class="container-fluid" *ngIf="!isPrintView">
  <div class="row pr-5 pt-3 mb-5">
    <div class="display-1 col">
      Gutachten
    </div>
    <div class="col-5">
      <div class="row mx-0 alert alert-primary">
        <div class="col">
          <h5>Definition:</h5>
        </div>
        <div class="col">
          <button (click)="saveExamDefinition()" class="btn btn-secondary w-100">
            <i-bs name="fileEarmarkArrowDown"></i-bs>
            herunterladen
          </button>
        </div>
        <div class="col">
          <label for="uploadExamDefinition" class="btn btn-secondary w-100">
            <i-bs name="fileEarmarkArrowUp"></i-bs>
            hochladen
          </label>
          <input id="uploadExamDefinition" type="file" accept="application/json" (change)="loadExamDefinition($event)"
            style="display: none; height: 0; width: 0;" />
        </div>
      </div>
      <div class="row mx-0 alert alert-primary">
        <div class="col">
          <h5>Klausur:</h5>
        </div>
        <div class="col">
          <button (click)="saveExam()" class="btn btn-secondary w-100">
            <i-bs name="fileEarmarkArrowDown"></i-bs>
            herunterladen
          </button>
        </div>
        <div class="col">
          <label for="uploadExam" class="btn btn-secondary w-100">
            <i-bs name="fileEarmarkArrowUp"></i-bs>
            hochladen
          </label>
          <input id="uploadExam" type="file" accept="application/json" (change)="loadExam($event)"
            style="opacity: 0; width: 0" />
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-5">
    <div class="col-2 alert alert-primary">
      <h5>Student:</h5>
    </div>
    <div class="col">
      <input type="text" class="col form-control-lg" [(ngModel)]="student" />
    </div>
  </div>
  <div class="row mx-5">
    <div class="col-2 alert alert-primary">
      <h5>Lehrer(in):</h5>
    </div>
    <div class="col">
      <input type="text" class="col form-control-lg" [(ngModel)]="teacher" />
    </div>
  </div>
  <div class="row mx-5">
    <div class="col-2 alert alert-primary">
      <h5>Stadt:</h5>
    </div>
    <div class="col">
      <input type="text" class="col form-control-lg" [(ngModel)]="city" />
    </div>
  </div>
  <div class="row mx-5">
    <div class="col-2 alert alert-primary">
      <h5>Schule:</h5>
    </div>
    <div class="col">
      <input type="text" class="col form-control-lg" [(ngModel)]="school" />
    </div>
  </div>
  <div class="row mx-5">
    <div class="col-2 alert alert-primary">
      <h5>Fach:</h5>
    </div>
    <div class="col">
      <select class="col form-control-lg" [(ngModel)]="course">
        <option *ngFor="let course of master.courses">{{course}}</option>
      </select>
    </div>
  </div>
  <div class="row mx-5">
    <div class="col-2 alert alert-primary">
      <h5>Kurs:</h5>
    </div>
    <div class="col">
      <select class="col form-control-lg" [(ngModel)]="examType">
        <option *ngFor="let examType of master.examTypes">{{examType}}</option>
      </select>
    </div>
  </div>
  <div class="row mx-5">
    <div class="col-2 alert alert-primary">
      <h5><input type="checkbox" [(ngModel)]="isSprachmittlungEnabled" /> Sprachmittlung{{(isSprachmittlungEnabled ? ":"
        : "")}}</h5>
    </div>
    <div class="col">
      <div *ngIf="isSprachmittlungEnabled">
        <label>
          Gewichtung:
          <input type="number" [(ngModel)]="sprachmittlungWeighting" style="width: 60;" min="0" max="100" />
        </label>
        &nbsp;
        <label>
          ausgewählt
          <input type="checkbox" [(ngModel)]="isSprachmittlungSelected" />
        </label>
      </div>
    </div>
  </div>
  <div class="row mx-5" *ngIf="isSprachmittlungEnabled">
    <div class="col-2 alert alert-primary">
      <h5>Schreiben:</h5>
    </div>
    <div class="col">
      <div *ngIf="isSprachmittlungEnabled">
        <label>
          Gewichtung:
          <input type="number" [(ngModel)]="schreibenWeighting" style="width: 60;" min="0" max="100" />
        </label>
        &nbsp;
        <label>
          ausgewählt
          <input type="checkbox" [(ngModel)]="isSchreibenSelected" />
        </label>
      </div>
    </div>
  </div>
  <div class="display-2 mt-5">{{modeName}} Ergebnis - {{getFormattedPointsForMode()}} Punkte</div>
  <ng-container *ngFor="let part of master.parts">
    <div class="row my-5">
      <div class="col">
        <div class="display-3">{{part.name}} Ergebnis - {{getFormattedPointsForPart(part.id)}} Punkte</div>
      </div>
    </div>
    <ng-container *ngFor="let area of part.areas">
      <div class="row mx-5 mt-5" *ngIf="area.name">
        <div class="col alert alert-primary">
          <h4>{{area.name}} - {{getFormattedAreaPoints(area.id)}} Punkte</h4>
        </div>
      </div>
      <ng-container *ngFor="let skill of getSkillsForArea(area.id)">
        <div class="row mx-5" *ngIf="!isSkillIncluded(skill.id)">
          <div class="col alert alert-primary">
            <h5>
              <label style="position: relative">
                <input type="checkbox"
                  [ngClass]="{'is-invalid': !areSkillWeightingsFixed(part.id) && getAreaSkillsCount(area.id) < 3}"
                  [ngModel]="isSkillIncluded(skill.id)" (ngModelChange)="setSkillIncluded($event, skill.id)" />
                <span class="invalid-tooltip">mindestens drei</span>
                {{skill.name}}
              </label>
            </h5>
          </div>
        </div>
        <ng-container *ngIf="isSkillIncluded(skill.id)">
          <div class="row mx-5">
            <div class="col-2 alert alert-primary">
              <h5 style="position: relative">
                <label style="position: relative">
                  <input type="checkbox"
                    [ngClass]="{'is-invalid': !areSkillWeightingsFixed(part.id) && getAreaSkillsCount(area.id) > 3}"
                    [ngModel]="isSkillIncluded(skill.id)" (ngModelChange)="setSkillIncluded($event, skill.id)"
                    *ngIf="!areSkillWeightingsFixed(part.id)" />
                  <div class="invalid-tooltip">höchstens drei</div>
                  {{skill.name}}
                </label>
              </h5>
              <h5>{{getFormattedPointsForSkill(skill.id)}} Punkte</h5>
              <h5 *ngIf="!areSkillWeightingsFixed(part.id)">
                <label style="position: relative">
                  Gewichtung: <input type="number" [ngClass]="{'is-invalid': getTotalAreaWeightings(area.id) !== 100}"
                    [ngModel]="getSkillWeighting(skill.id)" (ngModelChange)="setSkillWeighting($event, skill.id)"
                    style="width: 60px" min="0" max="100" /> BE
                  <div class="invalid-tooltip">nicht 100% ins gesamt</div>
                </label>
              </h5>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <input type="range" style="width: 100%;" [ngModel]="getPointsForSkill(skill.id)"
                    (ngModelChange)="setPointsForSkill($event, skill.id)" min="0" max="15" step="1" />
                  <input type="range" style="width: 100%;" disabled="true" [ngModel]="calculatePointsForSkill(skill.id)"
                    min="0" max="15" step="1" />
                </div>
              </div>
              <div class="row">
                <div class="col" *ngFor="let pointRange of pointRanges">
                  <h5 class="text-center">{{pointRange.name}}</h5>
                  <div class="col" *ngFor="let criteria of getCriteria(skill.id, pointRange.id)" class="alert"
                    [ngClass]="{'alert-primary': isCriteriaChecked(criteria.id), 'alert-secondary': !isCriteriaChecked(criteria.id)}"
                    (click)="toggleCriteria(criteria.id, skill.id)" style="cursor: pointer">
                    {{criteria.text}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div class="row mx-5">
        <div class="col-2 alert alert-primary">
          <h5>Kommentar</h5>
        </div>
        <div class="col">
          <textarea [ngModel]="getComment(area.id)" (ngModelChange)="setComment($event, area.id)"
            class="col"></textarea>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <div class="py-5"></div>
  <div class="display-4 fixed-bottom text-right">
    gesamt Ergebnis - {{getFormattedTotalPoints()}} Punkte
  </div>
</div>