<h1 style="display: inline">Klausur</h1>&nbsp;

<div class="container-fluid">
  <div class="col-12 alert alert-danger">
    <h3>Inhalt</h3>
  </div>
  <div class="col-12 alert alert-primary">
    <h4>Leseverstehen/Reproduktion</h4>
  </div>
    <div><input type="checkbox" /> durchgehend dokumentiertes, differenziertes Textverständnis im Sinne der Aufgabenstellung</div>
    <div><input type="checkbox" /> sehr gelungene Fokussierung auf geforderte Aspekte, ggf. hohes Abstraktionsniveau, keine Redundanzen</div>
    <div><input type="checkbox" /> sehr eigenständige, straffe und strukturierte Darstellung</div>
  <div class="col-12 alert alert-primary">
    <h4>Textanalyse</h4>
  </div>
  <div class="col-12 alert alert-primary">
    <h4>Analyse diskontinuierlicher Texte</h4>
  </div>
  <div class="col-12 alert alert-danger">
    <h3>Sprachverwendung Ergebnis - {{getTotalGrade()}}</h3>
  </div>
	<ng-container *ngFor="let area of criteria.areas">
		<div class="row">
			<div class="col-12 alert alert-primary">
				<h4>{{area.name}} - {{getGradeForArea(area.id) | number: '1.2-2'}} Punkte</h4>
			</div>
		</div>
		<ng-container *ngFor="let skill of area.skills">
			<div class="row">
				<div class="col-2">
					<h5>{{skill.name}}</h5>
          <h5>{{getGrade(skill.id)}} Punkte</h5>
				</div>
				<div class="col">
					<input
        type="range"
        style="width: 100%;"
        [ngModel]="getGrade(skill.id)"
        (ngModelChange)="setGrade($event, skill.id)"
        min="0"
        max="15"
        step="1"
      />
					<input
        type="range"
        style="width: 100%;"
        disabled="true"
        [ngModel]="calculatedGrade(skill.id)"
        min="0"
        max="15"
        step="1"
      />
    </div>
				</div>
				<div class="row">
					<div class="col-2"></div>
					<div class="col" *ngFor="let criteria of skill.criteria">
						<input type="checkbox" [ngModel]="isCriteriaChecked(criteria.pointRangeId, skill.id)" (ngModelChange)="checkCriteria($event, criteria.pointRangeId, skill.id)" />
      {{criteria.text}}
    </div>
					</div>
		</ng-container>
	</ng-container>
</div>